<script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
            $(".content").fadeIn(1500);
        },1000);
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
            $(".content").fadeOut(1500);
        },2000);
    });
</script>

<div class="content"  style="display:none;">
  <h1>Welcome </h1>
  <h2>It's my single page</h2>
</div>