<footer class="footer" xmlns="http://www.w3.org/1999/html">
  <small>
    <p>Page created by <a href="https://www.facebook.com/sabbo.torrez/">Javier Torres </a></p>
    <ul><%= link_to 'About',    '#' %></ul>
    <ul><%= link_to 'Contact',   '#' %></ul>
  </small>
</footer>